@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
.contact-no{
    font-size: smaller;
    word-spacing: 3px;
}
.navbar-title-div{
    height: 8vh;
    width: 66%;
    border-bottom: 1px solid #9e9e9e6b;
}

.nav-titles{
    font-size: 13px;
}
.logo{
    width: 145px;
    margin: -6px 0 0 0;

}
.carousel-div{
    background: url(../assets/background.png) no-repeat center center/cover;
    height: 80vh;
    position: relative;
}


.header-text{
    margin-top: 26px;
}
.header-text > h1{
    font-family: auto;
    font-size: 65px;
}
.header-text > h6{
    font-family: auto;
    font-size: 20px;
}

.background-carousel{
    height: 20vh;
    width: 50%;
    /* margin: 2px 0; */
    margin-top: 46px;
    /* z-index: -1; */
    transform: translateY(61px);
}
.background-carousel > div{
    height: inherit;
}
.carousel-tabs{
    border-right: 1px solid #9e9e9e6b;
    height: inherit;
}
.carousel-tabs-last{
    border-right: 1px solid #9e9e9e6b;
    height: inherit;
    background: #232b58;
}
.carousel-tabs > h6{
    margin: 3vh 0 0 0;
    font-size: 12px;
}
.carousel-tabs > h3{
    margin: 3vh 0 0 0;
}
.carousel-tabs-span{
    font-size: 15px;
}
.promotional-code{
    font-size: 10px;
    margin: 19px 0 0 0;
}
.check-avail,.check-avail:hover {
    height: 36px;
    border-radius: 0px;
    margin: 23px 0 0 0;
    background: #fd7e14;
    border: 2px solid #fd7e14;
    font-size: 12px;
}
/* .check-avail:hover{
    height: 36px;
    border-radius: 0px;
    margin: 23px 0 0 0;
    background: #fd7e14;
    border: 2px solid #fd7e14;
    font-size: 12px;
} */



#about-us{
    transform: translateY(30vh);
}
.about-us-container{
    width: 50%
}
.about-us-image-container{
    width: 100%;
    /* border: 1px solid green; */
    /* height: 61px; */
    height: 40vh
}
.about-us-text{
    font-size: 12px;
}
.best-place{
   font-size: 35px;
     font-family: auto;
}
.about-us-image{
    height: inherit;
    width: 100%;
    transform: translateY(50px);
}
.view-more-row{
    height: 35vh;
    background: url('../assets/view.png') no-repeat center center/cover;
}

#discover{
    margin: 30vh 0 0 0;
    height: 60vh;
}
.discover-row{
    margin: 0;
    /* border: 1px solid green; */
}
.title-1{
    margin: 10vh;
}
.title-2{
    margin: -5vh;
}
.discover-ul-lists{
    /* border: 1px solid red; */
    height: 38vh;
    overflow-y: scroll;
}
.discover-lists{
    list-style-type: none;
    /* border: 1px solid yellow; */
}
.discover-lists-img{
    background: url('../assets/money.png');
    height: 100px;
    width: inherit;
}
.discover-img-2{
    background: url('../assets/interior1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 65vh
}
.discover-list-1{
    background: url('../assets/interior1.png') no-repeat center center/cover;
}
.discover-list-2{
    background: url('../assets/interior2.png') no-repeat center center/cover;
}
.discover-list-3{
    background: url('../assets/interior3.png') no-repeat center center/cover;
}

.card-img-top{
    height: 225px; width: 100%; display: block 
}

#testimonialBlog{
    background: url('../assets/view.png') no-repeat center center/cover;
    margin: 6vh 0 0 0;
    width: 100%;
}
.blog-date{
    font-size: 12px;
}
.card-text{
    font-family: auto;
    text-decoration: underline;
    font-weight: 600;
}
.test-img{
    width: 23vh;
    height: 23vh;
    margin: 20px;
}
.tb-container{
    width: 60%;
    /* border: 1px solid red; */
    height: 95vh;
}

.tb-title-1{
    margin: 10vh 0 0 0;
    font-size: smaller;
}

.tb-title-2
{
    margin: 5vh 0 0 0;
    font-size: 25px;
    font-family: auto;
}

.tb-content{
    margin: 7vh 0 0 0;
    font-style: italic;
    font-family: auto;
    font-weight: 700;
}
.blog-title{
    margin: 10vh 0 10vh 0;
    font-family: auto;
    font-size: 31px;
}

.map-img{
    background: url('../assets/map.png') no-repeat center center/cover;
}

.contact-text-div{
    margin: 75px 0 0 0
}
.contact-text-1{
    font-size: 13px;
    font-family: 'SourceSansPro-Bold';
    letter-spacing: 4.94px;
    color: "#9b9b9b"
}
.contact-text-2{
    font-family: auto;
    font-size: 27px;
}
.contact-text-3{
    font-family: auto;
    font-size: 20px;
}
.contact-text-4{
    /* font-family: auto; */
    font-size: 13px;
}
.contact-text-5{
    font-family: auto;
    font-size: 24px;
}
.adjust-contact{
    margin: 0 0 0 70px;
}
.call-direct{
    margin: 27px 0 17px 0;
}

.contact-row{
    height: 75vh;
    /* border: 1px solid green; */
}



.footer-hr{
    background: #9E9E9E;
    height: 1px;
}


.footer-social{
  background: url('../assets/social.png');
}












.search{
   background: #174A41
}
.xx{
   background: #174A41
}
.control{
   background: #174A41
}


.unique-text{
    transform: translateY(-5vh);
    color: #174A41
}
.search-text{
    transform: translateY(-5vh);
    color: white;
}
.control-text{
    transform: translateY(-5vh);
    color: white;
}
.xx-text{
    transform: translateY(-5vh);
    color: white;
}
.social-section{
    background: rgb(23, 74, 65);
    margin-top: 50px;

}
.social-fa{
    font-size: 48px;
    color: white;
}
.social-column{
    height: 25vh;
}

.sponsors-column{
    height: 15vh;
}

.sponsors-column > img{
    height: inherit;
    width: 100%;
    padding: 10px
}

.launch-image-div{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    overflow: hidden;
}
.launch-row{
    background: #174A41;
    color: white;
}
.launch-img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

.footer-text{
    color: white;
}

.footer-row-style{
    padding: 8vh 0 0 0;
    height: 49vh;

}



@media screen and (max-width: 990px) {
    /* body {
      display: none
    } */
    .work-row{
        margin-top: 75vh;
    }
   
    .unique-body{
        margin-top:  15vh;
    }
    .benefit-move-property{
        transform: translateY(24px);
    }
    .sponsors-img{
        width: 20vw;
    }
    .sponsors-column > img{
        padding: 0;
        height: inherit;
        width: 120%;
        object-fit: contain;
    }
    .launch-container{
        margin-top: 45px;
    }
    .title-div{
        overflow: hidden;
    }
    #about-us{
        margin: 55vh 0 0 0;
    }
    .about-us-image-container{
        width: 72vw;
        transform: translateX(-58px);
    }
    .check-avail{
        transform: translateX(30px);
    }
    .discover-lists{
        width: 100%;
    }
    #testimonialBlog{
        transform: translate(3px, 71vh);
    }
    #contacts{
        transform: translateY(71vh);
    }
    #footer{
        transform: translateY(70vh);
    }
    .footer-row-style .footer-list{
        padding: 0;
    }
    .home{
        padding-left: 17px;
        margin: -23px 0;
    }
    .logo-link{
        padding-left: 6px;
        transform: translateY(-21vh);
    }
    .navbar-toggler{
        margin: 0 78vw;
    }
  }

  .footer-text{
    font-size: small;
  }